extends layout

block content
  .content
    h2 Contact Us
    p ------------------------
    p SOS? need help? if u have any inquiries… well, keep them to yourself! just kidding...reach out to us, we don't bite!:
    p ------------------------
    ul
      li Email: otaku@gmail.com
      li Phone: +000 000 000