extends layout

block content
  .content
    h2 Anime Characters
    .character-list
      ul
        li
          a(href='/character/1')
            img(src='/images/naruto.png', alt='Naruto uzumaki')
            p Naruto uzumaki
        li
          a(href='/character/2')
            img(src='/images/luffy.png', alt='Monkey D.Luffy')
            p Monkey D.Luffy