extends layout

block content
  .content
    h2 Our Services
    p ----------------------------
    p What do we do? u really wanna know? Well… only the most important thing ever,helping u totally not stalk...(i mean research) ur favorite anime characters & making sure u will never have to say, Wait...who's that character again? We r the FBI… but just for anime please!