@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #ddd8d8;
}

#main-header {
    background: #333;
    color: #ffffff;
    padding: 15px 0;
    text-align: center;
}

.navbar {
    background: #444;
}

.navbar nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.navbar nav ul li {
    margin: 0 15px;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 15px;
    transition: background 0.3s;
}

.navbar nav ul li a:hover {
    background: #555;
    border-radius: 5px;
}

section {
    padding: 30px;
    margin: 50px auto;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #640cfb1a;
}

h2 {
    color: #333;
}

.work-pic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-item {
    position: relative;
    width: 48%;
    margin-bottom: 20px;
    overflow: hidden;
}


.work-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.work-item:hover .overlay {
    opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #555;
}

.footer {
    text-align: center;
    padding: 10px 0;
    background: #444;
    color: #fff;
}
